
@{
    ViewData["Title"] = "About";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>About</h1>

<h3>Ishwarpal Gill</h3>

<h5>Email</h5>
<div>
    <p>
        ishwarpal.s.gill@gmail.com
    </p>
</div>

<h5>Phone</h5>
<div>
    <p>
        (586) 822-3912
    </p>
</div>

<h5>LinkedIn</h5>
<div>
    <p>
    <a href="https://www.linkedin.com/in/ishwarpal-gill/">Ishwarpal Gill</a>
    </p>
</div>

