@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

<div>
    <h3>Intro</h3>
    <p>
        Hello, I am Ishwar Gill. 
        Thank you for visiting my page. 
        Here, you will learn things about me. 
        Right now, I am currently attending the Grand Circus After-Hours C#.Net bootcamp. 
        I am enjoying it so far, even though some parts are challenging. 
    </p>

</div>

<div>
    <h3>A bit about me</h3>

    <p>
        Hello, I am Ishwar Gill. 
        I have a Master's in Biomedical Engineering and a BAchelor's in Biology.
        I am currently a student at Grand Circus in the after hours C#.NET bootcamp.
        I am currently working, but looking for a new opportunity.
        My favorite sport is basketball and I have started to get into rock climbing.<br />
        <a href="https://en.wikipedia.org/wiki/Basketball">What is Basketball?</a><br />
        <a href="https://en.wikipedia.org/wiki/Rock_climbing">Rock Climbing</a><br />

        I also like to go to the gym and reading on my spare time.
        One of my fevorite book series is the Lord of the Rings. 


    </p>

    <h5>Development</h5>
    <p>
        I first started getting itnerested in programming and development the spring of 2019. 
        I enrolled into a Intro to Programming course on Udacity.
        This course taught me a bit about HTML, CSS, Python, and JavaScript. 
        I then decieded that I would like to expand on this and started looking around 
        and found that Grand Circus had a after hours back end course, which i was looking for.
        The resaon I chose backend was because I already had some expereince with Front end,
        and I wanted to be able to use programing along with my MAster's and Backend seemed to be better suited in the long run. 
        I am currently enjoying my time at Grand Circus
    </p>

    <h5>Hometown</h5>
    <p>
        What is a Hometown? A place where you were born or where you grew up? 
        For me, my homeotown is Sterling Hts, MI. I have lived here for over 20 years.
        I grew up in Sterling Hts and went to Stevenson High School, located in the same city. 
        
    </p>


</div>