
@{
    ViewData["Title"] = "Portfolio";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Portfolio</h1>

<h3>Github</h3>
<p>
    <a href="https://github.com/IshwarpalGill ">Ishwarpal Gill</a> 
</p>

<h3>Midterm Project</h3>
<p>
    <a href="https://github.com/rahkh313/GC_PostTermianlProject">POS System</a>
</p>

